= form_for(@job) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:
      %ul.default
        - @job.errors.full_messages.each do |message|
          %li= message
  %fieldset
    .field
      = f.label :customer_id, class: 'req'
      = f.collection_select(:customer_id, Customer.all, :id, :full_name, {:prompt=>true}, { selected: params[:customer_id] })

    .field
      = f.label :job_type_id, class: 'req'
      = f.collection_select(:job_type_id, JobType.all, :id, :name, {:prompt=>true}, { selected: params[:job_type_id] })
    .field
      = f.label :date
      = f.date_select :date
    .field
      = f.label :time
      = f.time_select :time, minute_step: 15
    .field
      = f.label :worker_id
      = f.collection_select(:worker_id, Worker.all, :id, :full_name, {:prompt=>true}, { selected: params[:worker_id] })
    .field
      %label
        = f.check_box :best_day_ever, class: 'checkbox'
        Best Day Ever
    .field
      %label
        = f.check_box :completed, class: 'checkbox'
        Completed
    .field
      = f.label :worker_notes
      = f.text_area :worker_notes
  .actions
    = f.submit