%h1= @job.date.strftime('%Y/%m/%d')
%h2= @job.time.strftime('@ %H:%M')

%fieldset
  %legend Job Info
  %p
    %strong Customer:
    = @job.customer.full_name
  %p
    %strong Job type:
    = @job.job_type.name
  %p
    %strong Best day ever:
    = @job.best_day_ever
  %p
    %strong Completed:
    = @job.completed

%fieldset
  %legend Worker Info
  %p
    %strong Worker:
    = @job.worker.full_name
  %p
    %strong Worker notes:
    = @job.worker_notes

%ul.actions
  %li= link_to 'Edit', edit_job_path(@job), class: 'button'
  %li= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button destroy'