%p
  %strong Customer:
  = @job.customer_id
%p
  %strong Job type:
  = @job.job_type_id
%p
  %strong Date time:
  = @job.date_time
%p
  %strong Worker:
  = @job.worker_id
%p
  %strong Worker notes:
  = @job.worker_notes
%p
  %strong Best day ever:
  = @job.best_day_ever
%p
  %strong Completed:
  = @job.completed
= link_to 'Edit', edit_job_path(@job)
= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' }