= form_for(@customer) do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved:
      %ul
        - @customer.errors.full_messages.each do |message|
          %li= message
  %fieldset
    %legend Contact Info
    .field
      = f.label :full_name
      = f.text_field :full_name
    .field
      = f.label :phone
      = f.telephone_field :phone
    .field
      = f.label :email
      = f.email_field :email
    .field
      = f.label :address
      = f.text_field :address
      = f.label :city
      = f.text_field :city
      = f.label :state
      = f.select :state, us_states, selected: 'NY'
      = f.label :zip
      = f.text_field :zip
  %fieldset
    %legend Pool Info
    .field
      %label
        = f.check_box :salt
        Salt
    .field
      %label
        = f.check_box :heater
        Heater
    .field
      = f.label :filter_type_id
      = f.collection_select(:filter_type_id, FilterType.all, :id, :name, {:prompt=>true}, { selected: params[:filter_type_id] })
    .field
      = f.label :pool_type_id
      = f.collection_select(:pool_type_id, PoolType.all, :id, :name, {:prompt=>true}, { selected: params[:pool_type_id] })
  %fieldset
    %legend Notes
    .field
      = f.text_area :notes
  .actions
    = f.submit