%h1 Customers
%table
  %thead
    %tr
      %th Name
      %th Phone
      / %th Email
      %th Address
  %tbody
    - @customers.each do |customer|
      %tr
        %td= link_to customer.full_name, customer
        %td= number_to_phone customer.phone, area_code: true
        / %td= mail_to customer.email
        %td
          = customer.address
          %br/
          #{customer.city}, #{customer.state} #{customer.zip}
= link_to 'New Customer', new_customer_path, class: 'button'
