%p
  %strong Name:
  = @customer.full_name
%p
  %strong Phone:
  = number_to_phone @customer.phone, area_code: true
%p
  %strong Email:
  = mail_to @customer.email
%p
  %strong Address:
  %br/
  = @customer.address
  %br/
  #{ @customer.city }, #{@customer.state} #{@customer.zip}
%p
  %strong Notes:
  = @customer.notes

%hr/

%ul
  %li= link_to 'Edit', edit_customer_path(@customer), class: 'button'
  %li= link_to 'Destroy', @customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button'