%p
  %strong Name:
  = @customer.full_name
%p
  %strong Phone:
  = number_to_phone @customer.phone, area_code: true
%p
  %strong Email:
  = mail_to @customer.email
%p
  %strong Address:
  %br/
  = @customer.address
  %br/
  #{ @customer.city }, #{@customer.state} #{@customer.zip}
%p
  %strong Salt:
  = @customer.salt
%p
  %strong Heater:
  = @customer.heater
%p
  %strong Filter Type:
  = @customer.filter_type.name || 'not assigned'
%p
  %strong Pool Type:
  = @customer.pool_type.name || 'not assigned'
%p
  %strong Notes:
  = @customer.notes
%hr/
%ul.actions
  %li= link_to 'Edit', edit_customer_path(@customer), class: 'button'
  %li= link_to 'Destroy', @customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button'