%p
  %strong First name:
  = @customer.first_name
%p
  %strong Last name:
  = @customer.last_name
%p
  %strong Phone:
  = @customer.phone
%p
  %strong Email:
  = @customer.email
%p
  %strong Address:
  = @customer.address
%p
  %strong City:
  = @customer.city
%p
  %strong State:
  = @customer.state
%p
  %strong Zip:
  = @customer.zip
%p
  %strong Notes:
  = @customer.notes
= link_to 'Edit', edit_customer_path(@customer)