<h1>Listing pool_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pool_types.each do |pool_type| %>
      <tr>
        <td><%= pool_type.name %></td>
        <td><%= link_to 'Show', pool_type %></td>
        <td><%= link_to 'Edit', edit_pool_type_path(pool_type) %></td>
        <td><%= link_to 'Destroy', pool_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pool type', new_pool_type_path %>
