= form_for(@filter_type) do |f|
  - if @filter_type.errors.any?
    #error_explanation
      %p
        = pluralize(@job_type.errors.count, "error")
        prohibited this job_type from being saved:
      %ul
      - @job_type.errors.full_messages.each do |message|
        %li= message
  %fieldset
    .field
      = f.label :name, class: 'req'
      = f.text_field :name
    .actions
      = f.submit