= form_for(@worker) do |f|
  - if @worker.errors.any?
    #error_explanation
      %h2
        = pluralize(@worker.errors.count, "error") 
        prohibited this worker from being saved:
      %ul
        - @worker.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :first_name
    = f.text_field :first_name
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :address
    = f.text_field :address
    = f.label :city
    = f.text_field :city
    = f.label :state
    = f.text_field :state
    = f.label :zip
    = f.text_field :zip
  .field
    = f.label :start_date
    = f.date_select :start_date
    = f.label :end_date 
    = f.date_select :end_date 
  .actions
    = f.submit