!!! 5
%html
  %head
    %title ThePoolSite
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel: 'stylesheet', type: 'text/css' }
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags 
    %meta{ name: "viewport", content: "width=device-width, user-scalable=no"}
  %body
    %nav.main
      %ul
        %li.nav-link= link_to 'Home', root_url
        %li.nav-link= link_to 'Customers', customers_path
        %li.nav-link= link_to 'Workers', workers_path
        %li.nav-link= link_to 'Jobs', jobs_path
    .container
      .content
        - if notice
          %p.notice= notice
        = yield